<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <a href="" class="header__logo"></a>
      <nav class="header__menu">
        <ul class="header__list">
          <li>
            <a href="" class="header__link">Пункт меню</a>
          </li>
          <li>
            <a href="" class="header__link">Пункт меню</a>
          </li>
          <li>
            <a href="" class="header__link">Пункт меню</a>
          </li>
          <li>
            <a href="" class="header__link">Пункт меню</a>
          </li>
        </ul>
        <div class="header__burger">
          <span></span>
        </div>
      </nav>
    </header>
    <!--    content (greed-container + grid-elements)-->
    <main class="main">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt doloremque excepturi exercitationem iusto magni
      necessitatibus, nesciunt nihil numquam officiis provident qui tenetur voluptates. Alias consectetur dolor ducimus
      ipsum nemo non qui sapiente voluptatibus! Aliquid animi beatae consequuntur iste minus molestias nobis,
      perspiciatis
      porro ratione reiciendis repudiandae sunt tempore ullam voluptatem.
    </main>
    <footer class="footer">
      <div class="footer__copy">
        copy 2022
      </div>
      <div class="footer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, eligendi!</div>
    </footer>
  </div>

</body>
</html>
