<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <a href="" class="header__logo"></a>
      <nav class="header__menu">
        <ul class="header__list">
          <li>
            <a href="" class="header__link">Пункт меню</a>
          </li>
          <li>
            <a href="" class="header__link">Пункт меню</a>
          </li>
          <li>
            <a href="" class="header__link">Пункт меню</a>
          </li>
          <li>
            <a href="" class="header__link">Пункт меню</a>
          </li>
        </ul>
        <div class="header__burger">
          <span></span>
        </div>
      </nav>
    </header>
    <!--    content (greed-container + grid-elements)-->
    <main class="main">
      <aside class="sidebar">
        <nav class="sidebar__menu">
          <ul class="sidebar__list">
            <li>
              <a href="" class="sidebar__link"></a>
            </li>
            <li>
              <a href="" class="sidebar__link"></a>
            </li>
            <li>
              <a href="" class="sidebar__link"></a>
            </li>
            <li>
              <a href="" class="sidebar__link"></a>
            </li>
          </ul>
        </nav>
      </aside>
      <section class="content">
        <h1 class="content__title">Grid layout practice</h1>
        <section class="content__gallery gallery">
          <h2 class="gallery__title">Галерея</h2>
          <div class="gallery__items">
            <div class="gallery__item gallery__item_big">
              <img src="" alt="">
            </div>
            <div class="gallery__item">
              <img src="./assets/1.jpg" alt="">
            </div>
            <div class="gallery__item">
              <img src="./assets/2.jpg" alt="">
            </div>
            <div class="gallery__item">
              <img src="./assets/3.jpg" alt="">
            </div>
            <div class="gallery__item">
              <img src="./assets/4.jpg" alt="">
            </div>
            <div class="gallery__item">
              <img src="./assets/5.jpg" alt="">
            </div>
            <div class="gallery__item">
              <img src="./assets/6.jpg" alt="">
            </div>
            <div class="gallery__item">
              <img src="./assets/7.jpg" alt="">
            </div>
            <div class="gallery__item gallery__item_big">
              <img src="./assets/8.jpg" alt="">
            </div>
            <div class="gallery__item">
              <img src="./assets/9.jpg" alt="">
            </div>
            <div class="gallery__item">
              <img src="./assets/10.jpg" alt="">
            </div>
          </div>
        </section>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__copy">
        copy 2022
      </div>
      <div class="footer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, eligendi!</div>
    </footer>
  </div>
</body>
</html>
